.form-login-container {
  width: 100%;
  height: 125vh;
  display: flex;
  justify-items: center;
  background: url(../../assets/images/background.png);
  background-size: cover;
  flex-direction: column;
  align-items: center;
  gap: 10vh;
}

.form-login-container .icon-imagess {
  padding-bottom: 2%;
  padding-top: 4%;
  width: 12%;
  height: 12%;
}

.form-login {
  display: block;
  width: 25%;
  background-color: rgba(204, 208, 219, 0.44);
  border-radius: 10px;
  backdrop-filter: blur(10px);
  border: 2px solid rgba(255, 255, 255, 0.1);
  box-shadow: 0 0 40px rgba(8, 7, 16, 0.6);
  padding: 0px 30px 35px;
}

.form-loading-login {
  padding-top: 5%;
  background-color: black;
  opacity: 0.5;
  width: 100%;
  height: 111.5vh;
  display: flex;
  justify-items: center;
  background: url(../../assets/images/background.png);
  background-size: cover;
  flex-direction: column;
  align-items: center;
  gap: 10vh;
}

.form-login h3 {
  font-size: 25px;
  text-align: center;
  color: #fff;
  text-shadow: 2px 2px 10px black;
}

.form-login label {
  display: block;
  margin-top: 2rem;
  font-size: 1rem;
}

.form-login input {
  outline: none;
  border: none;
  width: 93%;
  background-color: #f4f3f367;
  border-radius: 4px;
  padding: 15px 10px;
  margin-top: 8px;
  font-weight: 100;
}

.form-login input::placeholder {
  color: rgb(87, 79, 79);
}

.form-login .pass {
  position: relative;
}

.form-login .pass i {
  position: absolute;
  top: 50%;
  transform: translateY(-50%);
  cursor: pointer;
  right: 20px;
}

.form-login #show-hide {
  padding-top: 2.3%;
  font-size: 1rem;
}

.form-login button {
  margin-left: 22%;
  margin-top: 30px;
  margin-bottom: 5%;
  width: 50%;
  background-color: #1b4186;
  padding: 15px 0;
  font-size: 18px;
  border-radius: 15px;
  cursor: pointer;
  border: none;
  transition: all 0.1s;
}

.form-login button:hover {
  background-color: #fbaf17;
  box-shadow: 0.25rem 0.25rem #2a2a2c;
}

.login-button {
  color: #fff;
}

.loader-loading-login {
  width: 48px;
  height: 48px;
  border: 5px solid #fff;
  border-bottom-color: transparent;
  border-radius: 50%;
  display: inline-block;
  box-sizing: border-box;
  animation: rotation 1s linear infinite;
}

.loader-login-spin {
  z-index: 9999;
  position: absolute;
  padding-top: 20%;
}

@keyframes rotation {
  0% {
    transform: rotate(0deg);
  }
  100% {
    transform: rotate(360deg);
  }
}

.version-voa {
  margin-left: -10%;
  /* background-color: red; */
  display: flex;
  justify-content: center;
  position: absolute;
  width: 100%;
}

.version-voa p {
  padding-top: 2%;
  text-align: center;
  font-size: 1rem;
  /* position: absolute; */
  color: black;
}

@media screen and (max-width: 462px) {
  .form-login {
    width: 100%;
  }
}
