.container-form {
    display: flex;
    height: 460px;
    border-radius: 12px;
    margin-top: -15px;
    margin-right: 30px;
    margin-left: 20px;
    background-color: rgba(217, 217, 217, 0.75); 
}

.disabled-input {
  color: #000000;
}
.form-group{
  display: flex;
  align-items: center;
}
.wrapper-form{
    align-items: center;
    display: flex;
    justify-items: center; 
    justify-content: space-between; 
    margin-top: 10px;
    margin-left: 15px;
    margin-right: 10px;
}

.wrapper-input {
  width: 136px;
}

.checkbox-container {
  width: 18px;
  height: 18px;
  border: 3px solid white;
  border-radius: 7px;
  margin-right: 11px;
}
.checkbox-value{
  width: 17px;
  height: 17px;
  border-radius: 6px;
  background-color: #3DBB6F;
}
/* .checkbox-container:hover{
  border: 3px solid red;
} */

label {
    font-weight: bold;
    display: flex;
    justify-items: center;
    margin-right: 10px;  
  }
  
  input {
    width: 350px;
    height: 10px;
    border: 1px solid #ccc;
    padding: 10px;
    font-size: 15px;
    font-weight: bold;
    border-radius: 10px;
    background-color: rgba(217, 217, 217, 0.75); 
  }
  
  select {
    width: 470px;
    height: 38px;
    display: flex;
    align-items: center;
    border: 1px solid #ccc;
    padding: 10px;
    border-radius: 10px;
    background-color: rgba(217, 217, 217, 0.75); 
  }

    .photo-box {
    background-color: rgba(217, 217, 217, 0.75);
    margin-top: 10px;
    width: 100px;
    height: 100px;
    border-radius: 12px;  
  }


  .check-data-title {
    padding-top: 10px;
  }


  /* inspect element chrome */
  /* @media screen and (max-width: 768px) {
    .container-form {
      margin-left: 60px;
      display: flex;  
      justify-content: center;
      margin-top: 30px;
      height: 400px;
      width: 650px;
    }

    .wrapper-form {
      margin-top: 15px;
      height: 18px;
    }

    .wrapper-input {

    }
    input { 
      height: 3px;
      margin-top: 12px;
    }

    label {
      height: 3px;
      margin-top: -7px;
      margin-right: 10px;
    }

    .checkbox-container {
    }

    .checkbox-value {
    }
  } */

 /* mobile simulator */   
  /* @media screen and (max-width: 768px) {
    .container-form {
      margin-left: 60px;
      display: flex;
      justify-content: center;
      margin-top: 20px;
      height: 370px;
      width: 650px;
    }

    .wrapper-form {
      margin-top: 12px;
      height: 18px;
    }

    .wrapper-input {

    }
    input { 
      height: 2px;
      margin-top: 12px;
    }

    label {
      height: 3px;
      margin-top: -7px;
      margin-right: 10px;
    }

    .checkbox-container {
    }

    .checkbox-value {
    }
  } */

  @media only screen and (min-width: 769px) and (max-width: 1024px) {
    .container-form {
      display: flex;
      /* align-items: flex-start; */
      /* padding-top: 10vh; */
      margin-top: 0.5vh;
      justify-content: center;
      /* background-color: red; */
      height: 42vh;
      width: 53vh;
      margin-left: 7.9em;
    }
    
    .form-group {
      /* background-color: red; */
      height: 4.675vh;
      display: flex;
      align-items: center;
      /* flex-direction: row; */
    }

    .form-group input {
      width: 400px;
      height: 15px;
    }

    .form-group label {
      font-size: 1.18vh;
    }

    .photo-box {
      display: flex;
      align-items: center;
      justify-content: center;
      height: 70px;
    }
    

  }

  @media only screen and (max-width: 768px) {
    .container-form {
      margin-top: 3.8%;
      display: flex;
      width: 70%;
      margin: 0;
      margin-top: 3.8%;
      margin-left: 11vh;
      height: 33vh;
      justify-content: center;
    }

    .form-group {
      margin-top: 0%;
      height: 3.65vh;
      width: 53vh;
      display: flex;
      justify-content: flex-start;
      align-items: center;
    }

    .form-group label {
      font-size: 1.2vh;
      margin-left: 2.8vh;
    }

    .form-group input {
      width: 25vh;
      height: 0.4vh;
    }

    .photo-box {
      display: flex;
      align-items: center;
      justify-content: center;

    }

    .wrapper-form {
      margin-top: 0%;
    }


    .photo-box {
      display: flex;
      align-items: center;
      justify-content: center;
      height: 4vh;
      width: 4vh;
      margin-bottom: 25%;
      margin-left: -20%;
    }

    .photo-box img {
      height: 2vh;
    }

  }

  /* test */
  .container-form1 {
    display: flex;
    /* flex: 50%; */
    /* background-color: yellow; */
    height: 460px;
    /* width: 500px; */
    border-radius: 12px;
    margin-top: -15px;
    margin-right: 30px;
    margin-left: 20px;
    /* position: fixed; */
    background-color: rgba(217, 217, 217, 0.75); 
}

.form-group1 {
    align-items: center;
    display: flex;
    justify-items: center; 
    justify-content: space-between; 
    /* background-color: red; */
    /* width: 600px;    */
    margin-bottom: 10px;
    margin-top: 10px;
    /* margin-right: 30px; */
    /* height: auto; */
    /* z-index: -1; */
    /* padding-left: 20px; */
    margin-left: 20px;  
    /* margin-right: 200opx; */
    
}

.form-group1 label {
    font-weight: bold;
    display: flex;
    justify-items: center;
    /* background-color: aqua; */
    
    margin-right: 10px;  
  }
  
  .form-group1 input {
    width: 430px;
    height: 10px;
    border: 1px solid #ccc;
    padding: 10px;
    border-radius: 10px;
    /* justify-content: flex-start; */
    background-color: rgba(217, 217, 217, 0.75); 
  
  }

  .form-group1 .photo-box1 {
    /* display: inline-block; */
    background-color: rgba(217, 217, 217, 0.75);
    margin-right: 350px;
    width: 100px;
    height: 100px;
    border-radius: 12px;  
  }