.container-form {
    display: flex;
    height: 460px;
    border-radius: 12px;
    margin-top: -15px;
    margin-right: 30px;
    margin-left: 20px;
    background-color: rgba(217, 217, 217, 0.75); 
}
.form-group{
  display: flex;
  align-items: center;
}
.wrapper-form{
    align-items: center;
    display: flex;
    justify-items: center; 
    justify-content: space-between; 
    margin-top: 10px;
    margin-left: 15px;
    margin-right: 10px;
}

.wrapper-input {
  width: 136px;
}

.checkbox-container {
  width: 18px;
  height: 18px;
  border: 3px solid white;
  border-radius: 7px;
  margin-right: 11px;
}
.checkbox-value{
  width: 17px;
  height: 17px;
  border-radius: 6px;
  background-color: #3DBB6F;
}
/* .checkbox-container:hover{
  border: 3px solid red;
} */

label {
    font-weight: bold;
    display: flex;
    justify-items: center;
    margin-right: 10px;  
  }
  
  input {
    width: 350px;
    height: 10px;
    border: 1px solid #ccc;
    padding: 10px;
    font-size: 15px;
    font-weight: bold;
    border-radius: 10px;
    background-color: rgba(217, 217, 217, 0.75); 
  }
  
  select {
    width: 470px;
    height: 38px;
    display: flex;
    align-items: center;
    border: 1px solid #ccc;
    padding: 10px;
    border-radius: 10px;
    background-color: rgba(217, 217, 217, 0.75); 
  }

    .photo-box {
    background-color: rgba(217, 217, 217, 0.75);
    margin-top: 10px;
    width: 100px;
    height: 100px;
    border-radius: 12px;  
  }


  .check-data-title {
    padding-top: 10px;
  }