.table-container {
    /* margin: 20px; */
    padding: 10px;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
    border-radius: 8px;
    overflow-x: auto;
}

table {
    width: 100%;
    border-collapse: collapse;
    background-color: #ffffff;
    border-radius: 8px;
}

thead {
    background-color: #11375c;
    color: #040000;
}

thead tr {
    text-transform: capitalize;
}

th,
td {
    padding: 12px;
    text-align: center;
    vertical-align: middle;
    font-weight: 600;
}

th {
    font-weight: 600;
}

tbody tr:nth-child(odd) {
    background-color: #f9f9f9;
}

tbody tr:hover {
    background-color: #f1f1f1;
}

tbody tr td {
    border-bottom: 1px solid #ddd;
}

tbody tr:last-child td {
    border-bottom: none;
}

th.action-column,
td.action-column {
    width: 150px;

}