.submit-buttons-registers {
    display: flex;
    width: 97%;
    height: 7%;
    padding-top: 1%;
    justify-content: flex-end;
    gap: 2%;
}

.submit-buttons-registers button {
    width: 7%;
    height: 50px;
    background-color: #11375c;
    color: white;
    font-size: 15px;
    cursor: pointer;
    border-radius: 6px;
    border: none;
}

.submit-buttons-registers .add-data {
    background-color: #3dbb6f;
}

.submit-buttons-registers .add-data:hover {
    background-color: #5de693;
}

.submit-buttons-registers .search:hover {
    background-color: #1a5189;
}