.body {
  text-align: center;
  align-items: center;
  background-color: #3d5889;
  min-height: 125vh;
  overflow: hidden;
  padding-top: 1%;
}

.body h1 {
  color: #fff;
}

.form-filter {
  display: flex;
  flex-direction: row;
  /* Display items in a row */
  align-items: center;
  /* Align items vertically in the center */
  justify-content: space-evenly;
}

.header-combo {
  margin: 3% 4% 3% 4%;
}

/* Apply styles to each label and input pair */
.form-filter input {
  margin-right: 6%;
  /* Add some spacing between label-input pairs */

  height: 30px;
  outline: none;
  /* Remove focus border */
  padding: 0 10px;
  /* Add some padding */
  font-size: 14px;
  /* Adjust font size */
}

#payment {
  margin-right: 3%;
}

/* Apply styles to the last input to prevent extra margin */
/* .form-filter input:last-child {
  margin-right: 0; 
} */

.form-filter label {
  display: flex;
  text-align: center;
  align-items: center;
  justify-content: center;
  margin-right: 1%;
  color: #fff;
  max-width: 3%;
}

.form-filter button {
  padding: 15px 40px;
  font-size: 17px;
  border: none;
  cursor: pointer;
  outline: none;
  background-color: none;
  color: #fff;
  border-radius: 10px;
}

.handle-sumbit-bg {
  padding: 15px 40px;
  font-size: 17px;
  border: none;
  cursor: pointer;
  outline: none;
  background-color: #3dbb6f;
  color: #fff;
  border-radius: 10px;
}

.content {
  margin: 0% 4% 0% 4%;
  background-color: #fff;
  border-radius: 0 0 10px 10px;
  height: auto;
  padding: 2%;
  padding-top: 0%;
}

.content-loading {
  margin-bottom: 9%;
  background-color: white;
  /* Change background color to white */
  opacity: 0.5;
  width: 100%;
  height: 100%;
  /* Use 100% height to fill its parent */
  display: flex;
  justify-items: center;
  background-size: cover;
  flex-direction: column;
  align-items: center;
}

.loader-report-spin {
  z-index: 9999;
  position: absolute;
}

.loader-loading-report {
  width: 48px;
  height: 48px;
  border: 5px solid #3d5889;
  border-bottom-color: transparent;
  border-radius: 50%;
  display: inline-block;
  box-sizing: border-box;
  animation: rotation 1s linear infinite;
}

.select-petugas {
  width: 17%;
  /* margin-right: 6%; */
}

.table-header {
  display: flex;
  justify-content: space-between;
  /* Align items to the far end (right) */
  align-items: center;
  margin-bottom: 3%;
}

.combo {
  display: flex;
  /* Use flexbox to align items */
  gap: 10px;
  /* Add some spacing between buttons */
  align-items: center;
}

.report-logout {
  padding: 11px 20px;
  font-size: 13px;
  border: none;
  cursor: pointer;
  outline: none;
  background-color: red;
  color: #fff;
  border-radius: 6px;
}

.menu {
  padding: 11px 20px;
  font-size: 13px;
  border: none;
  cursor: pointer;
  outline: none;
  background-color: #3d5889;
  color: #fff;
  border-radius: 6px;
}

.print-pdf {
  padding: 11px 20px;
  font-size: 13px;
  border: none;
  cursor: pointer;
  outline: none;
  background-color: #e6af3c;
  color: #fff;
  border-radius: 6px;
}

.print-excel {
  padding: 11px 20px;
  font-size: 13px;
  border: none;
  cursor: pointer;
  outline: none;
  background-color: #3dbb6f;
  color: #fff;
  border-radius: 6px;
}

.print-pdf:disabled {
  background-color: #ccc;
  /* Change the background color when disabled */
  color: #999;
  /* Change the text color when disabled */
  cursor: not-allowed;
  /* Change the cursor when disabled */
}

.print-excel:disabled {
  background-color: #ccc;
  /* Change the background color when disabled */
  color: #999;
  /* Change the text color when disabled */
  cursor: not-allowed;
  /* Change the cursor when disabled */
}



.table-footer {
  display: flex;
  justify-content: space-between;
  /* Align items to the far end (right) */
  align-items: flex-end;
  margin-top: 2%;
  color: black;
}

.date-picker {
  width: 150%;
  /* width: 250px; */
}

.container-filter {
  border-radius: 10px 10px 0px 0px;
  display: flex;
  flex-direction: column;
  height: 26vh;
  padding-top: 1%;
  padding-bottom: 2%;
  margin: 0% 4% 0% 4%;
  background-color: #fff;
  overflow: hidden;
}

.filter-top {
  display: flex;
  flex-direction: row;
  flex-basis: 76%;
  margin-bottom: 1.5%;
  overflow: hidden;
}

.filter-bottom {
  flex-basis: 24%;
  display: flex;
  padding-right: 2%;
  padding-left: 2%;
  justify-content: space-between;
  flex-direction: row;
}

.button-filter-first {
  display: flex;
  flex-direction: row;
  gap: 5%;
  height: 100%;
}


.button-filter-first button {
  font-size: 13px;
  border-radius: 8px;
  background-color: #3D5889;
  color: white;
  width: 15vh;
  text-align: center;
}

.button-filter-first button:nth-child(2) {
  background-color: #E6AF3C;
}

.button-filter-first button:nth-child(2):disabled {
  background-color: #ccc;
  color: #999;
  cursor: not-allowed;
}

.button-filter-first button:nth-child(3) {
  background-color: #3DBB6F;
}

.button-filter-first button:nth-child(3):disabled {
  background-color: #ccc;
  color: #999;
  cursor: not-allowed;
}


.button-filter-second {
  display: flex;
  flex-direction: row-reverse;
  gap: 20%;
  height: 100%;
}

.button-filter-second button {
  border-radius: 8px;
  background-color: #007BFE;
  color: white;
  padding-right: 10%;
  padding-left: 10%;
}

.button-filter-second button:nth-child(1) {
  padding-right: 20%;
  padding-left: 20%;
  color: black;
  background-color: #FEC108;
}

.filter-rigth {
  display: flex;
  flex-basis: 50%;
  flex-direction: column;

}

.input-filter-top,
.input-filter-bottom {
  flex-basis: 50%;
  width: 80%;
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: center;
  gap: 7%;
  padding: 0 5%;
}


.input-filter-top p,
.input-filter-bottom p {
  font-weight: bold;
  font-family: Arial, sans-serif;
  margin: 0;
  width: 20%;
  text-align: left;
}

.input-filter-top input,
.input-filter-bottom input {
  height: auto;
  flex: 1;
  box-sizing: border-box;
}


.filter-left {
  display: flex;
  flex-basis: 50%;
  flex-direction: column;
  align-items: end;

}

.input-filter-bottom2 {
  flex-basis: 50%;
  width: 57%;
  display: flex;
  flex-direction: row;
  align-items: center;
  padding: 0 5%;
  margin-right: 13%;
}

.input-filter-bottom2 p {
  font-weight: bold;
  font-family: Arial, sans-serif;
  margin: 0;
  width: 31%;
  text-align: left;
}

.input-filter-bottom2 input {
  width: 215%;
  height: auto;
  flex: 1;
  box-sizing: border-box;
}

.input-filter-top2 {
  flex-basis: 50%;
  width: 70%;
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: center;
  gap: 0%;
  padding: 0 5%;
}


.input-filter-top2 p {
  font-weight: bold;
  font-family: Arial, sans-serif;
  margin: 0;
  width: 25%;
  text-align: left;
}

.input-filter-top2 input {
  height: auto;
  flex: 1;
  box-sizing: border-box;
}