.form{
    flex: 50%;
}

.container-hero {
    flex: 50%;
    /* background-color: aqua; */
}

.hero {
    display: flex;
    flex-direction: nowrap;
    height: 455px;
}

/* @media screen and (max-width: 768px) {
    .hero {
        display: inline-block;
        height: 2px;
    }
} */

@media screen and (min-width: 769px) and (max-width: 1024px) {
    .hero {
        flex-direction: column;
        height: 100%;
    }
    .form {
        flex: 100%;
        margin-top: -20%;
        margin-left: 29px;
        margin-right: 19.9px;
        padding: -2%;
    }
    .container-hero {
        flex: 100%;
    }
    .card {
        margin-top: 50px;
        margin-inline-start: 3%;
        width: 400%;
        height: auto;
    }
}

@media screen and (max-width: 768px) {
    .hero {
        flex-direction: column;
        /* background-color: red; */
        height: 92%;
    }
    .form {
        /* flex: 100%;
        margin-top: -20%;
        margin-left: 29px;
        margin-right: 19.9px;
        padding: -2%; */
    }
    .container-hero {
        /* flex: 100%; */
    }
    .card {
        /* margin-top: 50px;
        margin-inline-start: 3%;
        width: 400%;
        height: auto; */
    }
}