/* CardStatus.css */

.card-status1 {
    display: flex;
    /* background-color: green; */
    margin-left: -20px;
  }
  
  .card-container1 {
    margin-top: -15px;
      width: 645px;
      height: 475px;
      background-color: #FBAF17;
      display: flex;
      justify-content: center;
      align-items: center;
      margin-left: 40px;
      border-radius: 18px;
    }
    
    .inner-card1 {
      width: 630px;
      height: 455px;
      background-color: #fff;
      display: flex;
      justify-content: center;
      align-items: center;
      flex-direction: column;
      border-radius: 18px;
    }
    
    .card-title1 {
      font-size: 40px;
      text-align: center;
      color: #3D5889;
      margin-top: -10px;
    }
    
    .card-image1 {
      /* margin-bottom: 20px; */
      width: 460px;
      height: 300px;
      /* object-fit: cover; */
    }
    .card-image-success1, .card-image-print1{
      width: 150px;
      height: 150px;
    }
    
    .card-image-issuccess1 {
        width: 260px;
      height: 150px;  
      margin-bottom: 1.5rem;
    }
    .isPrint-container1{
      display: flex;
      justify-content: center;
      align-items: center;
      flex-direction: column;
    }
    .issusccess-container1{
      display: flex;
      flex-direction: column;
      justify-content: center;
      align-items: center;
    
    }
    .issusccess-container1 button{
      width: 254px;
      height: 100px;
      display: flex;
      align-items: center;
      justify-content: center;
      color: #fff;
      background-color: #3DBB6F;
      border-radius: 10px;
      gap: 10px;
      cursor: pointer;
    }
    .issusccess-container1 button h2{
      font-size: 45px;
    }
    .issusccess-container1 button span{
      padding-top: 1.2rem;
      font-size: 18px;
    }
    .print-container1{
      display: flex;
      justify-content: center;
      align-items: center;
      flex-direction: column;
    }
    .print-container1 h2{
      color: #3D5889;
      font-size: 19px;
      text-align: center;
    }  
    /* h1 {
      color: #3D5889;
    } */
    .form-group-payment1{
      display: flex;
      flex-direction: row;
      justify-content: space-between;
      margin: 1rem 0;
    }
    .form-group-payment1:nth-child(1){
      margin-top: 3rem;
    }
    .form-group-payment1:nth-child(3){
      margin-bottom: 5rem;
    }
    .form-group-payment-submit1{
      display: flex;
      justify-content: center;
    }
  
    .form-group-payment-submit1 button{
      width: 250px;
      height: 50px;
      border-radius: 18px;
      border: none;
      background-color: #3D5889;
      font-size: 32px;
      font-weight: bold;
      color: #fff;
    }

    @media only screen and (max-width: 768px){
      .card-status1 {
        display: flex;
        justify-content: center;
      }
      .card-container1 {
        margin-top: 5px;
        margin-bottom: 25px;
        height: 350px;
      }
      .inner-card1 {
        height: 320px;
        width: 610px;
      }
      .card-title1 {
        font-size: 30px;
        margin-top: 2px;
      }

      .card-image1 {
        width: 220px;
        height: 250px;
      } 
      
      .form-group-payment1 label {
        padding-top: 18px;
      }
      .form-group-payment1{
        display: flex;
        flex-direction: row;
        justify-content: space-between;
        margin: 1rem 0;
      }
      .form-group-payment1:nth-child(1){
        margin-top: 3rem;
      }
      .form-group-payment1:nth-child(3){
        margin-bottom: 5rem;
      }
      .form-group-payment-submit1{
        display: flex;
        justify-content: center;
      }
    
      .form-group-payment-submit1 button{
        width: 250px;
        height: 50px;
        border-radius: 18px;
        border: none;
        background-color: #3D5889;
        font-size: 20px;
        font-weight: bold;
        color: #fff;
      }
      .form-group-payment1{
        display: flex;
        flex-direction: row;
        justify-content: space-between;
        margin: 1rem 0;
      }
      .form-group-payment1:nth-child(1){
        margin-top: 1rem;
      }
      .form-group-payment1:nth-child(3){
        margin-bottom: 2rem;  
      }
      .form-group-payment-submit1{
        display: flex;
        justify-content: center;
      }
    
      .form-group-payment-submit1 button{
        width: 250px;
        height: 50px;
        border-radius: 18px;
        border: none;
        font-size: 32px;
        font-weight: bold;
        color: #fff;
      }

      .print-container1{
        height: 0px;
        
        margin-top: 120px;
        /* margin-top: 200px; */
      }

      .issusccess-container1 button{
        width: 130px;
        height: 40px;
      }

      .issusccess-container1 button h2{
        font-size: 25px;
      }

      .issusccess-container1 button span{
        padding-top: 0.8px;
      }
      
      .issusccess-container1 img {
        margin-left: 30px;
      }

      .isPrint-container1 img {
        padding-top: 20px;
        padding-bottom: 50px;
        margin-top: -30px;
        height: 80px;
      }

      .print-container1 h2 {
        margin-top  : -100px;
      }

    }