body,
html {
  margin: 0;
  padding: 0;
  height: 100%;
}

.card-list-container {
  margin-top: -15px;
  list-style: none;
  display: flex;
  flex-direction: column;
  gap: 6px;
}

.card-list-item {
  display: flex;
  gap: 30px;
}

.number-badge {
  height: 15px;
  background-color: #a3a9a5;
  width: 5%;
  font-size: 20px;
  font-family: "Roboto", Arial, sans-serif;
  font-weight: bold;
  padding: 1rem;
  color: #fff;
  border-radius: 18px;
  cursor: pointer;
  text-align: center;
  margin-left: -20px;
  display: flex;
  align-items: center;
  justify-content: center;
}

.list-content {
  background-color: #a3a9a5;
  width: 100%;
  font-size: 20px;
  height: 15px;
  font-family: "Roboto", Arial, sans-serif;
  font-weight: bold;
  padding: 1rem;
  color: #fff;
  border-radius: 10px;
  cursor: pointer;
  display: flex;
  align-items: center;
}

.selected {
  background-color: #fbaf17 !important;
}

.isActived .list-content,
.isActived .number-badge {
  background-color: #86d1a4 !important;
}
