body,
html {
  margin: 0;
  padding: 0;
  height: 100%;
}

.payment-container {
  background-color: #3d5889;
  height: 100vh;
  overflow: hidden;
  position: relative;
}

.payment-body{
    display: flex;
  align-items: center;
}



@media only screen and (min-width: 769px) and (max-width: 1024px) {
  .payment-body {
    padding-top: 20px;
    /* background-color: aqua; */
    height: 100%;
    width: 100%;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
  }
  
  .payment-input {
    /* background-color: red; */
    margin-bottom: 18%;
    display: flex;
    justify-content: center;
    align-items: center;
    padding-right: 10%;

  }

}

@media only screen and (max-width: 768px) {
  .payment-body {
    padding-top: 30px;
    /* background-color: aqua; */
    height: 100%;
    width: 100%;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
  }
  
  .payment-input {
    /* background-color: red; */
    margin-bottom: 15%;
    /* display: flex; */
    /* justify-content: center; */
    width: 76vh;
    /* align-items: center; */
    /* padding-right: 10%; */
    height: 50vh;

  }

}

@media only screen and (width: 1366px) {
  .payment-body {
    /* padding-left: 4vh; */
    justify-content: center;
    /* background-color: red; */
    display: flex;
    align-items: center;
  }  
}