body,
html {
  margin: 0;
  padding: 0;
  height: 100%;
}

.payment-container {
  background-color: #3d5889;
  height: 100vh;
  overflow: hidden;
  position: relative;
}

.payment-body{
    display: flex;
  align-items: center;
}

@media screen and (max-width: 768px) {
  .payment-body {
    margin-top: 10px;
    height: 85vh;
    display: inline-block;  
  /* align-items: center; */
}

}