.header-container {
  /* position: fixed; */
  top: 0;
  left: 10%;
  width: 100%;
  height: auto;
  display: flex;
  align-items: left;
  justify-content: left;
  color: #fff;
  padding-left: 160px;
  /* background-color: aqua; */
}

.header-title {
  font-size: 2.5em;
  font-family: "Roboto", Arial, sans-serif;
}


@media only screen and (min-width: 769px) and (max-width: 1024px) {
  .header-container {
    /* background-color: red; */
    padding: 0px;
    display: flex;
    align-items: center;
    justify-content: center;
  }
}

@media only screen and (max-width: 768px) {
  .header-container {
    padding: 0px;
    display: flex;
    justify-content: center;
    align-items: flex-start;
  }
}