/* CardStatus.css */

.card-status {
  display: flex;
  /* background-color: green; */
  margin-left: -20px;
}

.card-container {
    width: 645px;
    height: 285px;
    background-color: #FBAF17;
    display: flex;
    justify-content: center;
    align-items: center;
    margin-left: 40px;
    border-radius: 18px;
  }
  
  .inner-card {
    width: 630px;
    height: 265px;
    background-color: #fff;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    border-radius: 18px;
  }
  
  .card-title {
    font-size: 30px;
    text-align: center;
    color: #3D5889;
    margin-top: -10px;
  }

  p {
    text-align: center;
    justify-content: justify;
    margin-top: -10px;
    color: #3D5889;
  }
  
  .card-image {
    /* margin-bottom: 20px; */
    width: 260px;
    height: 155px;
    /* object-fit: cover; */
  }

  .input-email input {
    background-color: white !important;
    border-radius: 10px;
    height: 30px;
    /* margin-bottom: 20px; */
    margin-top: 5px;
  
  }

  .input-email {
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
  }

  .input-email input::placeholder {
    color: #ACACAC;
    font-size: large;
    /* margin-left: 100px; */
  }


.ok-button {
  background-color: #3D5889;
  border: 1px solid #3D5889;
  border-radius: 18px;
  font-size: 16px;
  color: white;
  width: 80px;
  height: 45px;
  margin-top: 5px;
}